@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Manrope';
    /* border: 1px solid red; */
  }

  .container {
    max-width: 310px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 689px;
    }
  }

  @media (mind-width: 1400px) {
    .container {
      max-width: 1109px;
    }
  }
}

@layer components {
  .product-category {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: calc(100% - 64px); /* subtract the height of the Nav component */
    background-color: white;
    overflow-y: auto; /* add scroll bar if needed */
    transition: transform 1s ease-out;
    transform: translateY(-100%);
    z-index: 10;
  }

  .product-category.active {
    transform: translateY(0);
  }

  nav {
    z-index: 20;
  }
}
